<div class="carousel-container">
  <button (click)="scrollLeft()" class="btn-scroll-left" [disabled]="activeTab === 0">Left</button>

  <div class="tabs-container" #tabContainer>
    <div class="tabs" [style.transform]="'translateX(' + -tabWidth * activeTab + 'px)'">
      <h3 *ngFor="let tab of tabsInfo; let i = index" (click)="changeTab(i)" class="tab" [class.active]="activeTab === i">
        {{ tab.data?.name }} ({{ tab.zip }})
        <span class="closeX" (click)="onCloseTab(tab.zip)">×</span>
      </h3>
    </div>
  </div>

  <button (click)="scrollRight()" class="btn-scroll-right" [disabled]="activeTab === tabsInfo.length - 1">Right</button>
</div>

<div class="tab-container">
  <div *ngFor="let tab of tabsInfo; let i = index" class="tab-content" [class.active]="activeTab == i">
    <div *ngIf="activeTab == i" class="tab-section">
      <div class="t-block">
        <div class="tab-body">
          <h4>Current conditions: {{ tab.data?.weather && tab.data.weather.length > 0 ? tab.data.weather[0]?.main : 'N/A' }}</h4>
          <h4>Temperatures today:</h4>
          <p *ngIf="tab.data?.main">
            Current {{ tab.data.main.temp | number: '.0-0' }}
            - Max {{ tab.data.main.temp_max | number: '.0-0' }}
            - Min {{ tab.data.main.temp_min | number: '.0-0' }}
          </p>
          <div>
            <input type="number" placeholder="Cache time in milliseconds" (input)="updateCacheTime($event.target.value)" />
          </div>

          <p>
            <a [routerLink]="['/forecast', tab.zip]">Show 5-day forecast for {{ tab.data.name }}</a>
          </p>
        </div>

        <div class="tab-footer">
          <img *ngIf="tab.data.weather && tab.data.weather.length > 0" [src]="weatherService.getWeatherIcon(tab.data.weather[0]?.id)">
        </div>
      </div>
    </div>
  </div>
</div>
