/* current-conditions.component.css */

/* Contenedor de las pestañas */
.tab-container {
  display: block;
}

/* Encabezado de la pestaña */
.tab-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  background-color: #5685e4;
}

/* Sección de la pestaña */
.tab-section {
  border: 1px solid black;
  width: 100%;
  padding: 3rem;
  padding-right: 5rem;
}

/* Bloque de contenido */
.t-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #efefef;
}

/* Cuerpo de la pestaña */
.tab-body {
  display: block;
}

/* Botón de cierre 'X' */
.closeX {
  cursor: pointer;
  color: red;
  margin-left: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Estilos para las pestañas */
/* -------------------------------------------- */
/* Inicio de los estilos de las pestañas */
/* -------------------------------------------- */
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tab {
  cursor: pointer;
  color: #2A509B !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  background-color: #e8e8e8;
  height: 5rem;
  margin-bottom: 0;
  margin-top: 0;
  width: 250px;
}

.tab.active {
  color: #424242 !important;
  font-weight: 700 !important;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #9ab4e7;
  height: 5rem;
  margin-bottom: 0;
  margin-top: 0;
  width: 250px;
}

.btn-scroll-right {
  position: absolute;
  right: 0;
  height: 5rem;
  width: 6rem;
  background-color: #e8e8e8;
}

.btn-scroll-left {
  position: absolute;
  left: 0;
  height: 5rem;
  width: 6rem;
  z-index: 9999;
  background-color: #e8e8e8;
}

.tabs-container {
  position: absolute;
  left: 5vw;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  position: relative;
  height: 5rem;
  overflow: hidden;
}
